[data-component="contact-module"] {
  flex: 1;
  .container {
    .inner {
      @include app-breakpoint-3 {
        width: 50%;
        margin-left: auto;
      }
      p {
        @include font-roobert;
        margin: 0;
        font-size: var(--20px);
        line-height: 1.3;
        @include app-breakpoint-1 {
          font-size: var(--28px) !important;
        }
        @include app-breakpoint-3 {
          font-size: var(--30px) !important;
        }
        @include app-breakpoint-4 {
          font-size: var(--32px) !important;
        }
        @include app-breakpoint-5 {
          font-size: var(--50px) !important;
        }
        a {
          font-size: inherit;
          word-wrap: wrap;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}