[data-component="full-screen-page-hero"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--app-height);
  padding: 0;
  @include app-breakpoint-3 {
    height: 100vh;
  }
  picture {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .full-screen-page-hero-title {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    @include app-breakpoint-2 {
      left: 2rem;
      bottom: 4rem;
    }
    p {
      font-size: var(--20px);
    }
  }
  & + section {
    margin-top: 100vh;
  }
}