[data-component="heading-text-module"] {
  .container {
    .column {
      &.text {
        .inner {
          > header {
            margin: 0 0 2rem;
          }
        }
      }
      &.large-text {
        .ctas {
          display: flex;
          gap: 1.5rem;
          margin: 3rem 0 0;
          @include app-breakpoint-3 {
            margin: 5rem 0 0;
          }
          li {
            flex: 1;
            a {
              @include link-underline;
            }
          }
        }
      }
    }
  }
}