[data-component="heading-image-module"] {
  .container {
    .column {
      &.text {
        @include app-breakpoint-3 {
          flex-basis: 33.33%;
        }
        .inner {
          > header {
            margin: 0 0 2.5rem;
          }
        }
      }
      &.image {
        @include app-breakpoint-3 {
          padding-left: 20%;
          box-sizing: border-box;
          flex-basis: 66.66%;
        }
      }
    }
  }
}