[data-component="home-hero-slider-module"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--app-height);
  padding: 0;
  @include app-breakpoint-3 {
    height: 100vh;
  }
  [data-component="slider"] {
    height: 100%;
    .swiper {
      height: 100%;
      [data-component="slider-navigation"] {
        visibility: hidden;
      }
      &.show-controls {
        [data-component="slider-navigation"] {
          visibility: visible;
        }
      }
    }
    picture {
      height: 100%;
      img {
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .full-screen-page-hero-title {
    position: absolute;
    bottom: 2rem;
    left: 1.5rem;
    @include app-breakpoint-2 {
      bottom: 4rem;
    }
    @include app-breakpoint-3 {
      left: 2rem;
    }
    p {
      font-size: var(--20px);
    }
  }
  & + section {
    margin-top: 100vh;
  }
}