[data-component="page-hero"] {
  padding-top: 7rem;
  .container {
    .column {
      &.text {
        @include app-breakpoint-3 {
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex-basis: 33.33%;
        }
        .page-title {
          margin: 0 0 2rem;
          h1 {
            @include font-roobert;
            font-size: var(--28px);
            line-height: var(--32px);
            @include app-breakpoint-3 {
              font-size: var(--50px);
              line-height: var(--52px);
            }
          }
        }
      }
      &.image {
        @include app-breakpoint-3 {
          box-sizing: border-box;
          padding-left: 20%;
          flex-basis: 66.66%;
        }
      }
    }
  }
}