[data-component="project"] {
  padding-left: 0;
  padding-right: 0;
  .container {
    > .column {
      @include app-breakpoint-3 {
        flex: 1;
        max-width: none;
      }
    }
    .column {
      box-sizing: border-box;
      &.text {
        padding: 0 1.5rem;
        box-sizing: border-box;
        @include app-breakpoint-3 {
          padding: 0 0 0 2rem;
          width: 33.33%;
        }
        .inner {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          p {
            margin: 0;
          }
          .back-to {
            margin: 2rem 0 0;
            a {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              @include link-underline;
              svg {
                display: block;
                width: 1rem;
                height: 1rem;
                fill: var(--castley_colour_black);
                margin-right: 1rem;
                transform: scaleX(-1);
              }
            }
          }
        }
      }
      &.project-content {
        width: 100%;
        @include app-breakpoint-3 {
          width: 66.66%;
          min-width: 0;
        }
        .row {
          margin: 0 0 2rem;
          padding: 0 1.5rem;
          box-sizing: border-box;
          @include app-breakpoint-3 {
            padding: 0 2rem 0 0;
          }
          &.project-year {
            margin: 0 0 3rem;
          }
          &.project-description {
            @include app-breakpoint-5 {
              display: flex;
            }
            .column {
              @include app-breakpoint-5 {
                flex: 1;
              }
              &.last {
                margin: 2rem 0 0;
                @include app-breakpoint-5 {
                  margin: 0 0 0 4rem;
                }
              }
            }
          }
          &.project-gallery,
          &.project-sketches-gallery {
            margin: 6rem 0;
            padding: 0 0 0 1.5rem;
            box-sizing: border-box;
            position: relative;
            z-index: 2;
            @include app-breakpoint-3 {
              margin: 9rem 0;
              padding: 0;
            }
            [data-component="project-slider"] {
              position: relative;
              > .swiper {
                width: 100%;
                > .swiper-wrapper {
                  width: 100%;
                  > .swiper-slide {
                    with: 100% !important;
                    position: relative;
                    -webkit-transform: translate3d(0, 0, 0);
                    [data-component="project-gallery-overlay-toggle"] {
                      display: block;
                      position: absolute;
                      top: 1rem;
                      left: 1rem;
                      z-index: 5;
                      @include app-breakpoint-3 {
                        top: 2rem;
                        left: 2rem;
                      }
                      svg {
                        display: block;
                        width: 1.25rem;
                        height: 1.25rem;
                        @include app-breakpoint-3 {
                          width: 2rem;
                          height: 2rem;
                        }
                      }
                      &.dark {
                        svg {
                          fill: var(--castley_colour_black);
                        }
                      }
                      &.light {
                        svg {
                          fill: white;
                        }
                      }
                    }
                    .project-gallery-image-title {
                      margin: 1rem 0 0;
                      span {
                        margin-right: 1.5rem;
                      }
                    }
                    &.portrait {
                      width: 50%;
                      &:last-of-type {
                        margin-right: 50%;
                      }
                    }
                    &.landscape {
                      width: 100%;
                    }
                  }
                }
                button.slider-navigation-button {
                  position: absolute;
                  top: 0;
                  width: 25%;
                  height: calc(100% - 40px);
                  cursor: none;
                  z-index: 3;
                  display: none;
                  @include app-breakpoint-3 {
                    display: block;
                  }
                  &[data-component="swiper-button-prev"] {
                    left: 0;
                    @include arrow-cursor-prev;
                    height: calc(100% - 40px - 6rem);
                    top: 6rem;
                  }
                  &[data-component="swiper-button-next"] {
                    right: 0;
                    @include arrow-cursor-next;
                  }
                }
              }
            }
          }
          .project-credits {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            li {
              display: flex;
              align-items: center;
              gap: 0.25rem;
              @include app-breakpoint-2 {
                gap: 0.5rem;
              }
              p {
                margin: 0;
                font-size: 0.65rem;
                line-height: 1;
                @include app-breakpoint-2 {
                  font-size: 1rem;
                  line-height: normal;
                }
              }
            }
          }
          &.project-gallery {
            [data-component="project-slider"] {
              > .swiper {
                > .swiper-wrapper {
                  > .swiper-slide {
                    width: auto !important;
                    picture {
                      img {
                        width: auto;
                        height: 70vw;
                        @include app-breakpoint-3 {
                          height: 40vw;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          &.project-sketches-gallery {
            padding-right: 1.5rem;
            @include app-breakpoint-3 {
              padding-right: 2rem;
            }
            > .swiper {
              > .swiper-wrapper {
                > .swiper-slide {
                  picture {
                    img {
                      height: auto !important;
                    }
                  }
                }
              }
            }
          }
          &.projects-pagination {
            margin: 6rem 0;
            box-sizing: border-box;
            @include app-breakpoint-5 {
              margin: 9rem 0 9rem auto;
            }
            .nav-links {
              display: flex;
              @include app-breakpoint-1 {
                justify-content: space-between;
              }
              > * {
                flex: 1;
                @include app-breakpoint-1 {
                  flex: none;
                }
              }
              a {
                display: flex;
                flex-direction: column;
                @include link-underline;
                @include app-breakpoint-1 {
                  flex-direction: row;
                  align-items: center;
                  flex-wrap: wrap;
                }
                svg {
                  display: block;
                  width: 1rem;
                  height: 1rem;
                  fill: var(--castley_colour_black);
                  margin: 0 0 .5rem;
                  @include app-breakpoint-1 {
                    margin: 0;
                  }
                }
                span {
                  font-size: var(--20px);
                  line-height: var(--24px);
                }
              }
              .nav-previous {
                svg {
                  transform: scaleX(-1);
                  @include app-breakpoint-1 {
                    margin-right: 1.5rem;
                  }
                }
              }
              .nav-next {
                a {
                  align-items: flex-end;
                  @include app-breakpoint-1 {
                    flex-direction: row-reverse;
                    align-items: center;
                    justify-content: flex-end;
                  }
                  svg {
                    @include app-breakpoint-1 {
                      margin-left: 1.5rem;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
