[data-component="process-module"] {
  .container {
    .column {
      &.processes {
        [data-component="accordion"] {
          .accordion {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 0 1rem;
            cursor: pointer;
            h4 {
              @include font-roobert;
              font-size: var(--28px);
              @include app-breakpoint-3 {
                font-size: var(--36px);
              }
              @include app-breakpoint-4 {
                font-size: var(--50px);
              }
            }
            svg {
              display: block;
              width: 1.5rem;
              height: 1.5rem;
              fill: white;
              margin: 0 0 0 1rem;
              transition: .5s ease-in-out;
            }
            &.active {
              svg {
                transform: rotate(45deg);
              }
            }
          }
          .panel {
            max-height: 0;
            overflow: hidden;
            transition: max-height .5s cubic-bezier(0, 1, 0, 1);
            & .content-inner {
              margin: 1rem 0 2rem;
              @include app-breakpoint-4 {
                margin: 1rem 0 2rem;
                max-width: 80%;
              }
            }
            &.active {
              max-height: 100rem;
              transition: max-height .5s ease-in-out;
            }
          }
        }
      }
    }
  }
}