[data-component="projects-module"] {
  .container {
    .column {
      &.text {
        .inner {
          h2 {
            a {
              @include link-underline;
            }
          }
        }
      }
    }
    ul.projects {
      margin: 2rem 0 0;
      > li {
        margin: 0 0 5rem;
        a {
          display: block;
          .project-image {
            margin: 0 0 1rem;
          }
          .project-images {
            margin: 0 0 1rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 2rem;
            li {
              height: 0;
              padding-top: 125%;
              position: relative;
              picture {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img {
                  height: 100%;
                  object-fit: cover;
                  object-position: center;
                }
              }
            }
          }
          .project-details {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0 2rem;
            position: relative;
            li {
              &.project-title {
                h4 {
                  font-size: var(--20px);
                }
              }
              &.view-project {
                position: absolute;
                top: 0;
                right: 0;
                &:after {
                  content: '';
                  height: 2px;
                  width: 0;
                  background-color: var(--castley_colour_black);
                  transition: .5s var(--default_transition);
                  display: none;
                  @include app-breakpoint-1 {
                    display: block;
                  }
                }
                p {
                  display: flex;
                  align-items: center;
                  span {
                    visibility: hidden;
                    margin-right: 1rem;
                    @include app-breakpoint-1 {
                      visibility: visible;
                    }
                  }
                  svg {
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    fill: var(--castley_colour_black);
                  }
                }
              }
            }
          }
          &:hover {
            .project-details {
              .view-project {
                &:after {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}