[data-component="sketch-image-module"] {
  @include app-breakpoint-4 {
    margin-left: 9rem;
  }
  picture {
    @include app-breakpoint-3 {
      width: 100%;
      max-width: 66.66%;
      margin-left: auto;
    }
  }
}