[data-component="team-module"] {
  flex-direction: column;
  .container {
    flex-direction: column;
    .column {
      @include app-breakpoint-2 {
        margin: 0 !important;
      }
      &.text {
        .inner {
          position: relative !important;
          top: 0;
        }
        header {
          @include app-breakpoint-2 {
            margin: 0 0 2.5rem;
          }
        }
      }
      &.team-members {
        > ul {
          @include app-breakpoint-2 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 0 1.5rem;
          }
          @include app-breakpoint-3 {
            gap: 0 3rem;
          }
          // @include app-breakpoint-5 {
          //   gap: 0 17.5rem;
          // }
          > li {
            margin: 0 0 2.5rem;
            @include app-breakpoint-2 {
              margin: 0;
            }
            .team-member-image {
              margin: 0 0 2rem;
            }
            > ul {
              margin: 0 0 2rem;
              li {
                header {
                  h3,
                  h4 {
                    font-size: var(--20px);
                    line-height: var(--24px);
                    @include app-breakpoint-3 {
                      line-height: var(--28px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}