[data-component="testimonials-module"] {
  .container {
    .column {
      &.text {
        [data-component="slider-navigation"] {
          margin: 2rem 0 0;
          button {
            svg {
              display: block;
              width: 1rem;
              height: 1rem;
              fill: var(--castley_colour_black);
            }
            &[data-component="swiper-button-prev"] {
              margin: 0 2rem 0 0;
              svg {
                transform: scaleX(-1);
              }
            }
          }
        }
      }
      &.testimonials {
        min-width: 0;
        [data-component="testimonials-slider"] {
          .testimonial {
            margin: 0 0 1rem;
          }
          ul {
            li {
              p {
                line-height: 1.3;
              }
            }
          }
        }
      }
    }
  }
}