.browser-warning {
  position: fixed;
  background-color: var(--tapenade_colour_green);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  padding: 3rem 1.5rem;
  box-sizing: border-box;
  height: 100%;
  & .site-logo {
    max-width: 8rem;
    margin: 0 auto 2rem;
    & img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  & .copy {
    @include roc-regular;
    max-width: 20rem;
    width: 100%;
    padding: 0 1.5rem;
    box-sizing: border-box;
    text-align: center;
    color: var(--tapenade_colour_cream);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include app-breakpoint-2 {
      padding: 0;
    }
  }
  & p {
    margin: 0 0 1rem;
    &:last-of-type {
      margin: 0;
    }
    & strong {
      @include roc-medium;
    }
    & a {
      @include roc-medium;
      color: inherit;
      white-space: nowrap;
      text-decoration: underline;
      display: inline-block;
    }
  }
}
