[data-component="preloader"] {
  background-color: var(--tapenade_colour_green);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  padding: 1rem 1rem;
  box-sizing: border-box;
  @include super-small {
    padding: 1rem 1.5rem;
  }
  @include app-breakpoint-3 {
    padding: 0 1.5rem;
  }
  svg {
    width: 100%;
    height: auto;
    path {
      fill: var(--tapenade_colour_dark_green);
    }
    &#mobile {
      display: block;
      @include app-breakpoint-3 {
        display: none;
      }
    }
    &#desktop {
      display: none;
      @include app-breakpoint-3 {
        display: block;
      }
    }
  }
}