[data-component="project-categories"] {
  margin: 2rem 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    &:after {
      content: '/';
      display: block;
      margin: 0 .5rem;
      font-size: var(--20px);
      opacity: .5;
    }
    a {
      opacity: .5;
      transition: .5s;
      &:hover {
        opacity: 1;
      }
    }
    &.current-cat {
      a {
        opacity: 1;
      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}