[data-component="project-gallery-overlay"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(111, 120, 98, 0.95);
  z-index: 10;
  padding: 5rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
  @include app-breakpoint-3 {
    padding: 5rem;
  }
  [data-component="close-project-gallery-overlay"],
  [data-component="close-sketches-gallery-overlay"] {
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    z-index: 20;
    @include app-breakpoint-3 {
      top: 2rem;
      right: 2rem;
    }
    svg {
      display: block;
      width: 1rem;
      height: 1rem;
      fill: white;
      transform: rotate(45deg);
    }
  }
  .wrapper {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    [data-component="gallery-overlay-slider"] {
      .swiper,
      .swiper-wrapper {
        width: 100% !important;
      }
      .swiper {
        overflow: visible;
        .swiper-wrapper {
          align-items: center;
          .swiper-slide {
            .image-wrapper {
              position: relative;
              opacity: 0;
              transition: 0.5s;
              .project-gallery-image-title {
                margin: 1.5rem 0 0;
                color: white;
                p {
                  display: flex;
                  justify-content: space-between;
                }
              }
            }
            &.portrait {
              max-width: 682px;
            }
            &.swiper-slide-active {
              .image-wrapper {
                opacity: 1;
              }
            }
          }
        }
      }
      button.slider-navigation-button {
        position: absolute;
        top: 0;
        width: 25%;
        height: calc(100% - 49px);
        cursor: none;
        z-index: 3;
        display: none;
        @include app-breakpoint-3 {
          display: block;
        }
        &[data-component="swiper-button-prev"] {
          left: 0;
          @include arrow-cursor-prev;
        }
        &[data-component="swiper-button-next"] {
          right: 0;
          @include arrow-cursor-next;
        }
      }
    }
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    z-index: 12;
  }
}
