[data-component="scroll-btn"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  .inner {
    position: absolute;
    bottom: 1em;
    left: 50%;
    width: 40px;
    height: 70px;
    box-shadow: inset 0 0 0 2px white;
    border-radius: 25px;
    cursor: pointer;
    transform: scale(0.4) translateX(calc(-50% - 32px));
    z-index: 5;
    @include app-breakpoint-2 {
      bottom: 3em;
    }
    &:before {
      content: "";
      position: absolute;
      left: 50%;
      width: 8px;
      height: 8px;
      background: white;
      margin-left: -4px;
      top: 8px;
      border-radius: 4px;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-name: scroll;
    }
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
