[data-component="slider"] {
  width: 100%;
  position: relative;
  .swiper-wrapper,
  .swiper-slide {
    width: 100% !important;
    height: 100%;
    picture {
      height: 100%;
      img {
        @include app-breakpoint-3 {
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  [data-component="slider-navigation"] {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    z-index: 3;
    @include app-breakpoint-2 {
      bottom: 4rem;
    }
    @include app-breakpoint-3 {
      right: 2rem;
    }
    button {
      svg {
        display: block;
        width: 2rem;
        height: 2rem;
        fill: white;
      }
      &[data-component="swiper-button-prev"] {
        margin: 0 1rem 0 0;
        svg {
          transform: scaleX(-1);
        }
      }
    }
  }
}