[data-component="global-header"] {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  z-index: 10;
  @include app-breakpoint-3 {
    padding: 2rem 2rem;
  }
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .1);
    visibility: hidden;
    opacity: 0;
    transition: .5s var(--default_transition);
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    [data-component="logo"] {
      display: block;
      width: 100%;
      max-width: 200px;
      transition: .5s opacity, .5s visibility;
      @include app-breakpoint-2 {
        max-width: 437px;
      }
      svg {
        display: block;
        width: 100%;
        height: auto;
        fill: white;
      }
    }
    [data-component="nav-toggle"] {
      position: relative;
      z-index: 2;
      svg {
        display: block;
        width: 14px;
        height: 14px;
        fill: white;
        transition: .5s var(--default_transition);
      }
    }
    [data-component="main-nav"] {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: var(--app-height);
      background-color: rgba(111, 120, 98, .95);
      color: white;
      padding: 3rem 1.5rem;
      box-sizing: border-box;
      transform: translate3d(100%, 0, 0);
      transition: .5s var(--default_transition);
      will-change: transform;
      @include app-breakpoint-1 {
        padding: 3rem;
      }
      @include app-breakpoint-3 {
        padding: 3rem 4rem;
        width: 50%;
        body.green-colour-scheme & {
          border-left: 1px solid white;
        }
      }
      .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        nav {
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          margin: 0;
          @media screen and ( max-height: 570px ) {
            position: relative;
            top: 0;
            left: 0;
            transform: none;
            margin: 2rem 0 0;
          }
          ul {
            li {
              margin: 0 0 .25rem;
              a {
                @include font-roobert;
                font-size: var(--28px);
                line-height: 1.2;
                display: inline-block;
                @include app-breakpoint-3 {
                  font-size: var(--50px);
                  line-height: var(--52px);
                }
              }
            }
          }
        }
        footer {
          margin-top: auto;
          > ul {
            @include app-breakpoint-1 {
              display: flex;
              justify-content: space-between;
            }
            @include app-breakpoint-3 {
              flex-direction: column;
              justify-content: flex-start;
            }
            @include app-breakpoint-4 {
              flex-direction: row;
              justify-content: space-between;
            }
            > li {
              margin: 0 0 2rem;
              p {
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
  body.nav-open & {
    &:before {
      opacity: 1;
      visibility: visible;
    }
    [data-component="nav-toggle"] {
      svg {
        fill: white;
        transform: rotate(45deg);
      }
    }
    [data-component="main-nav"] {
      transform: translate3d(0, 0, 0);
    }
  }
  &.light-nav {
    [data-component="logo"] {
      svg {
        fill: white;
      }
    }
    [data-component="nav-toggle"] {
      svg {
        fill: white !important;
      }
    }
  }
}