[data-component="global-footer"] {
  background-color: var(--castley_colour_green);
  color: white;
  @include app-breakpoint-4 {
    padding-top: 3rem;
    padding-bottom: 15rem;
  }
  @include app-breakpoint-5 {
    padding-bottom: 18rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    @include super-small {
      flex-direction: row;
      justify-content: space-between;
    }
    > .column {
      &.logo {
        margin: 0 0 2rem;
        max-width: 4rem;
        @include super-small {
          margin: 0 2rem 0 0;
          position: relative;
          top: 5px;
        }
        @include app-breakpoint-1 {
          max-width: 6rem;
        }
        @include app-breakpoint-3 {
          top: 9px;
          margin: 0 5rem 0 0;
          max-width: none;
        }
        @include app-breakpoint-4 {
          flex-basis: 33.33%;
          margin: 0 9rem 0 0;
        }
        [data-component="footer-logo"] {
          width: 100%;
          max-width: 4rem;
          @include app-breakpoint-3 {
            max-width: 8rem;
          }
        }
        & svg {
          display: block;
          width: 100%;
          height: auto;
          fill: white;
        }
      }
      &.double {
        @include app-breakpoint-2 {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
        @include app-breakpoint-4 {
          flex-basis: 66.66%;
        }
        > .column {
          margin: 0 0 2rem;
          @include app-breakpoint-2 {
            margin: 0;
          }
          p {
            a {
              @include app-breakpoint-3 {
                font-size: inherit;
              }
            }
          }
          &.address {
            p {
              line-height: 1.5;
              @include app-breakpoint-3 {
                font-size: var(--32px);
                line-height: 1.4;
              }
            }
          }
          &.contact-links {
            .contact-details {
              margin: 0 0 2rem;
              @include app-breakpoint-3 {
                margin: 0 0 4rem;
              }
              li {
                p {
                  line-height: 1.5;
                  @include app-breakpoint-3 {
                    font-size: var(--32px);
                    line-height: 1.4;
                  }
                }
              }
            }
            .links-credit {
              display: flex;
              flex-direction: row;
              a,
              p {
                font-size: 1rem;
                line-height: normal;
              }
              ul {
                li {
                  font-size: 1rem;
                  margin: 0 0 .25rem;
                }
              }
              .column {
                margin: 0 2rem 0 0;
                @include app-breakpoint-3 {
                  margin: 0 6rem 0 0;
                }
                &:last-of-type {
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  body.green-colour-scheme & {
    &:before {
      content: '';
      display: block;
      width: calc(100% - 3rem);
      height: 1px;
      background-color: white;
      position: absolute;
      top: 0;
      left: 1.5rem;
      @include app-breakpoint-3 {
        width: calc(100% - 4rem);
        left: 2rem;
      }
    }
  }
  body.page-contact & {
    padding-top: 3rem;
    padding-bottom: 3rem;
    &:before {
      display: none;
    }
    .container {
      .column {
        &.logo {
          top: 0;
          flex: none;
          margin: 0;
          width: 100%;
        }
        &.double {
          display: none;
        }
      }
    }
  }
}