@import 'sections/error-404';
@import 'sections/home-hero-slider-module';
@import 'sections/page-hero';
@import 'sections/full-screen-page-hero';
@import 'sections/heading-text-module';
@import 'sections/heading-image-module';
@import 'sections/team-module';
@import 'sections/projects-module';
@import 'sections/project';
@import 'sections/sketch-image-module';
@import 'sections/process-module';
@import 'sections/testimonials-module';
@import 'sections/contact-module';

section,
[data-component="global-footer"] {
  padding: 4rem 1.5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  @include app-breakpoint-3 {
    padding: 6rem 2rem;
  }
  @include app-breakpoint-4 {
    padding: 9rem 2rem;
  }
}

section {
  background-color: white;
  color: var(--castley_colour_black);
  .container {
    @include app-breakpoint-3 {
      display: flex;
      justify-content: space-between;
    }
    .column {
      &:last-of-type {
        margin: 0;
      }
    }
    > .column {
      header {
        .module-heading {
          @include font-regular;
          font-size: var(--20px);
        }
      }
      &:first-of-type {
        margin: 0 0 2rem;
        @include app-breakpoint-3 {
          flex-basis: 33.33%;
        }
        .inner {
          @include app-breakpoint-3 {
            position: sticky;
            top: var(--global-header-height);
          }
        }
        @include app-breakpoint-3 {
          margin: 0 6rem 0 0;
        }
        @include app-breakpoint-4 {
          margin: 0 9rem 0 0;
        }
      }
      &:last-of-type {
        @include app-breakpoint-3 {
          flex-basis: 66.66%;
        }
      }
      &.large-text {
        h1 {
          @include font-roobert;
          font-size: var(--28px);
          line-height: var(--32px);
          @include app-breakpoint-3 {
            font-size: var(--50px);
            line-height: var(--52px);
          }
        }
      }
    }
  }
  body.green-colour-scheme & {
    background-color: var(--castley_colour_green);
    color: white;
    .container {
      max-width: 112.5rem;
      margin: 0 auto;
    }
  }
  &.has-border {
    &:before {
      content: '';
      display: block;
      width: calc(100% - 3rem);
      height: 1px;
      background-color: white;
      position: absolute;
      top: 0;
      left: 1.5rem;
      @include app-breakpoint-3 {
        left: 2rem;
        width: calc(100% - 4rem);
      }
    }
  }
  &.smaller-padding-top {
    @include app-breakpoint-3 {
      padding-top: 5rem;
    }
  }
}
