#__bs_notify__ {
  display: none !important;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--castley_colour_black);
  background-color: white;
  @include font-regular;
  &.page-template-page-contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  &.hide-logo {
    [data-component="global-header"] {
      [data-component="logo"] {
        opacity: 0;
        visibility: hidden;
      }
      [data-component="nav-toggle"] {
        svg {
          fill: var(--castley_colour_black);
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-regular;
  margin: 0;
}

p {
  margin: 0 0 1rem;
  font-size: var(--20px);
  line-height: var(--24px);
  &:last-of-type {
    margin: 0;
  }
}

b,
strong {
  // @include font-semibold;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
  & li {
    &:last-of-type {
      margin: 0 !important;
    }
  }
}

ol {
  list-style: decimal;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: var(--20px);
}

figure {
  margin: 0;
}

input,
textarea,
select,
button {
  appearance: none;
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  letter-spacing: inherit;
  border-radius: 0;
  font-size: 1rem;
  font-family: inherit;
}

button {
  cursor: pointer;
}

blockquote {
  margin: 0;
}

picture {
  display: block;
  width: 100%;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

[data-lazy-src] {
  opacity: 0;
}

img.lazyloaded {
  transition: opacity .5s linear 0.2s;
  transition-delay: .5s;
  opacity: 1;
}

address {
  font-style: normal;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 100%;
}

// ::selection {
//   background-color: var(--tapenade_colour_green);
//   color: var(--tapenade_colour_cream);
// }

:focus {
  outline: none;
}
