@font-face {
  font-family: 'Gerstner-Programm-Regular';
  src: url('../fonts/Gerstner-Programm-Regular.woff2') format('woff2'), url('../fonts/Gerstner-Programm-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Roobert-Light';
  src: url('../fonts/Roobert-Light.woff2') format('woff2'), url('../fonts/Roobert-Light.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}