@mixin super-small {
  @media (min-width: 25.875rem) {
    @content;
  }
}
@mixin app-breakpoint-1 {
  @media (min-width: 41.688rem) {
    @content;
  }
}
@mixin app-breakpoint-2 {
  @media (min-width: 48rem) {
    @content;
  }
}
@mixin app-breakpoint-3 {
  @media (min-width: 64rem) {
    @content;
  }
}
@mixin app-breakpoint-4 {
  @media (min-width: 73.75rem) {
    @content;
  }
}
@mixin app-breakpoint-5 {
  @media (min-width: 90rem) {
    @content;
  }
}
@mixin app-breakpoint-6 {
  @media (min-width: 120rem) {
    @content;
  }
}
@mixin app-breakpoint-7 {
  @media (min-width: 160rem) {
    @content;
  }
}
@mixin hero-animation-height-breakpoint-1 {
  @media (min-width: 75rem) and (max-height: 1280px) {
    @content;
  }
}

@mixin font-regular {
  font-family: "Gerstner-Programm-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-roobert {
  font-family: "Roobert-Light", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-bold {
  font-family: "Averta-Bold", sans-serif;
  font-style: normal;
  font-weight: normal;
}

@mixin link-underline {
  @media (hover: hover) {
    &:after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background-color: var(--castley_colour_black);
      transition: .5s var(--default_transition);
    }
    &:hover {
      &:after {
        width: 100%;
      }
    }
  }
}

@mixin touchAutoHeight {
  min-height: auto;
  height: var(--app-height);
}

@mixin arrow-cursor-prev {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='43.8px' height='31.1px' viewBox='0 0 43.8 31.1' style='enable-background:new 0 0 43.8 31.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23333333;%7D%0A%3C/style%3E%3Cpath class='st0' d='M0,15.6L15.6,0L17,1.4L3.8,14.6h40v2h-40L17,29.7l-1.4,1.4L0,15.6z'/%3E%3C/svg%3E") 21.5 15, auto;
}

@mixin arrow-cursor-next {
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='43.8px' height='31.1px' viewBox='0 0 43.8 31.1' style='enable-background:new 0 0 43.8 31.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill-rule:evenodd;clip-rule:evenodd;fill:%23333333;%7D%0A%3C/style%3E%3Cpath class='st0' d='M43.8,15.6L28.3,31.1l-1.4-1.4L40,16.6H0v-2h40L26.9,1.4L28.3,0L43.8,15.6z'/%3E%3C/svg%3E%0A") 21.5 15, auto;
}

@mixin mainHeading {
  font-size: var(--36px);
  line-height: var(--44px);
  @include font-regular;
  @include app-breakpoint-4 {
    font-size: var(--54px);
    line-height: var(--66px);
  }
}
