:root {
  /* TYPE SIZES */
  --10px: .625rem;
  --12px: .75rem;
  --13px: .813rem;
  --14px: .875rem;
  --15px: .938rem;
  --17px: 1.063rem;
  --18px: 1.125rem;
  --19px: 1.188rem;
  --20px: 1.25rem;
  --21px: 1.313rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --26px: 1.625rem;
  --28px: 1.75rem;
  --30px: 1.875rem;
  --32px: 2rem;
  --34px: 2.125rem;
  --35px: 2.188rem;
  --36px: 2.25rem;
  --44px: 2.75rem;
  --45px: 2.813rem;
  --50px: 3.125rem;
  --52px: 3.25rem;
  --54px: 3.375rem;
  --56px: 3.5rem;
  --66px: 4.125rem;
  --96px: 6rem;
  --1000px: 62.5rem;

  /* LETTER SPACING */
  --2: 2px;

  /* LINE HEIGHT */
  --160: 160%;

  /* COLOURS */
  --castley_colour_green: #6F7862;
  --castley_colour_black: #333333;

  /* VARIABLES */
  --default_transition: cubic-bezier(0.83, 0, 0.17, 1);
  --container_max_width: 80vw;
  --column_max_width: 60vw;
}